* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    background: #efefef;
}

main {
    display: flex;
}

nav {
    display: flex;
}

.menu-toggler {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.925rem;
}

.menu-toggler:hover {
    cursor: pointer;
}

.content {
    width: 100%;
    
}

.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.carousel-image {
    transition: opacity 1.5s ease-in-out;
    opacity: 0.5;
    height: 0;
    overflow: hidden;
}

.carousel-image.active {
    opacity: 1;
    height: auto;
}

.carousel-image img {
    width: 100%;
}

.active {
    display: flex;
    justify-content: center;
}

.prev-image,
.next-image {
    position: absolute;
    z-index: 2;
    background: radial-gradient(rgb(42, 183, 96), rgb(68, 226, 19));
    color: white;
    padding: .625rem;
    border-radius: 5px;
}

.prev-image {
    left: .625rem;
}

.next-image {
    right: .625rem;
}

header {
    padding-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
}

header h2 {
    background: rgb(3, 203, 89);
    padding-block: .825rem;
}

.posts {
    background: linear-gradient(to top, rgb(29, 29, 29), rgb(0, 0, 0));
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    padding-inline: .625rem;
}

.posts-container img {
    width: 100%;
}

.post-card {
    width: 75%;
    border: 3px solid white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.post-description {
    background-color: white;
    padding-inline: 1rem;
    font-size: 1.125rem;
    text-align: justify;

    display: flex;
    flex-direction: column;
}

.post-description h3 {
    font-size: 1.5rem;
    padding-block: .6rem;
    text-align: center;
}

.post-description p {
    padding-bottom: 1rem;
}

.post-description a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
    background-color: rgb(2, 98, 43);
    border-radius: 7px;
    transition: background-color .4s ease-in-out;
    color: white;
    padding-block: .7rem;
    align-self: flex-end;
    margin-bottom: .6rem;
}

.post-description a:hover {
    background-color: rgb(3, 203, 89);
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    color: white;
}

footer a {
    color: rgb(3, 203, 89);
}

.blog-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1rem;
}

.blog-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
