* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100%;
    background: #efefef;
}

main {
    display: flex;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: white;
}

.menu {
    width: 0;
    height: 100vh;
    transition: width .8s ease-in-out;
    background-color: #222222;
}

.menu-items {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

.menu-items div {
    width: 100%;
    overflow: hidden;
}

.menu-focus {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 0;
    height: 100vh;
    transition: width, background-color .8s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
}

.menu-focus a {
    display: none;
}

.menu-focus.in-view {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.menu-focus.in-view a {
    display: flex;
    gap: .6rem;
    text-decoration: none;
    color: white;
    padding-block: .95rem;
    font-weight: bold;
    margin-left: 1.625rem;
}

.menu.in-view {
    width: 70vw;
}

.menu-title {
    padding-right: 1.3rem;
    font-weight: bold;
    font-style: italic;
}

.menu-toggler {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.925rem;
}

.menu-toggler:hover {
    cursor: pointer;
}

.content {
    width: 100%;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.carousel-image {
    transition: opacity 1.5s ease-in-out;
    opacity: 0.5;
    height: 0;
    overflow: hidden;
}

.carousel-image.active {
    opacity: 1;
    height: auto;
}

.carousel-image img {
    width: 100%;
}

.active {
    display: flex;
    justify-content: center;
}

header {
    padding-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
}

header h3 {
    background: rgb(3, 203, 89);
    padding-block: .825rem;
}

.posts {
    background: linear-gradient(to top, rgb(29, 29, 29), rgb(0, 0, 0));
}

.posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
    padding-inline: .625rem;
}

.posts-container img {
    width: 100%;
}

.post-card {
    width: 75%;
    border: 3px solid white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.post-description {
    background-color: white;
    padding-inline: 1rem;
    font-size: 1.125rem;
    text-align: justify;

    display: flex;
    flex-direction: column;
}

.post-description h3 {
    font-size: 1.5rem;
    padding-block: .6rem;
    text-align: center;
}

.post-description p {
    padding-bottom: 1rem;
}

.post-description a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
    background-color: rgb(2, 98, 43);
    border-radius: 7px;
    transition: background-color .4s ease-in-out;
    color: white;
    padding-block: .7rem;
    align-self: flex-end;
    margin-bottom: .6rem;
}

.post-description a:hover {
    background-color: rgb(3, 203, 89);
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    color: white;
}

footer a {
    color: rgb(3, 203, 89);
}

.blog-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1rem;
}

.blog-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
